fastapi
uvicorn[standard]
httpx
pydantic
python-dotenv
langchain
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-text-splitters
langchain-community
langgraph
langgraph-checkpoint-sqlite
faiss-cpu
pytest
langchain-openai