fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
langchain
langchain-google-genai
faiss-cpu
pytest
pandas
sqlalchemy
langchain-nvidia-ai-endpoints
langchain-text-splitters
faiss-cpu
langchain-community