fastapi
uvicorn[standard]
httpx
pydantic
pydantic-settings
python-dotenv
langchain
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-text-splitters
langchain-community
langgraph
faiss-cpu
pytest
pandas
sqlalchemy